@import '_variables.scss';

// dark mode support
@media (prefers-color-scheme: dark) {
    $text: #524f52;
    $bg: #333;
    $text-dark: darken($text, 5);
    $text-light: lighten($text, 5);
    $light: lighten($text, 20);

    .table {
        color: #fff;
    }

    .form-control-plaintext {
        color: #fff;
        border-color: $light !important;
    }

    #menu-toggle {
        &:hover {
            background-color: darken($bg, 10);
        }

        &.toggled {
            background-color: $dark;
        }
    }

    blockquote {
        color: $light;
        background: lighten($bg, 10);

        code {
            color: $light;
        }
    }

    .navbar-brand {
        color: #fff !important;
    }

    #page-content-wrapper,
    #sidebar-wrapper {
        background: $bg;
    }

    #page-content-wrapper {
        color: white;
    }

    // darken images to reduce contrast on dark background
    img {
        filter: brightness(0.8) contrast(1.2);
    }

    .btn-dark {
        background-color: $text;
        border-color: $text;

        &:hover {
            background-color: $text-dark;
            border-color: $text-dark;
        }
    }

    .btn-outline-dark {
        color: $light;
        border-color: $light !important;
    }

    .adaptive-text {
        color: #fff !important;
    }

    #info {
        color: $light !important;
    }
}
