@use 'variables';

@font-face {
    font-display: swap;
    font-family: 'Glyphter';
    src: url('/fonts/belt.woff') format('woff'), url('/fonts/belt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
