// modify pre when putting helper on top
div[data-type='file-helper'] {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    + pre {
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
