@import 'fonts';

// general body
body {
    min-width: 100%;
    max-width: 100vw;
    position: relative;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

body,
.bg-main {
    font-display: optional;
    max-width: 100vw;
    background: $dark !important;
    color: $light;
}

body {
    font-size: 16px;
}

@media only screen and (max-width: $breakpoint-md) {
    body {
        font-size: 18px;
    }
}

// main page content container
#section-content {
    min-height: 100vh;
    margin-top: -2rem;

    h1 {
        color: $tertiary;

        &#title {
            color: transparent;

            // This has enough (95%+ after can-i-use) coverage to justify the use of prefixed values and properties
            background: -webkit-linear-gradient(45deg, $theme-blue, $theme-red);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    h2 {
        font-size: 21px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

// images
img.img-fluid {
    width: auto;
}

// numbered lists for toc
.list-group-numbered > li::before {
    color: $primary;
}

code {
    color: $primary;
}

pre {
    // general comfort
    padding: 0.5rem;
    border: 0.1rem solid $secondary;
    border-radius: 0.25rem;
    overflow-x: auto;
    box-shadow: $box-shadow-sm;

    // fancy scrollbar for webkit based browsers
    ~ code {
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: $dark;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $primary;
            border-radius: 10px;
        }
    }
}

// figure
figure {
    margin: 0 0.5rem;
    box-shadow: $box-shadow-sm;
}

// blockquote
blockquote {
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: $secondary;
    border: 1px solid $dark;
    border-left: 3px solid $dark;
    border-radius: 0.5rem;
    box-shadow: $box-shadow-sm;

    p {
        margin-bottom: 0;
    }
}

// headings
h2,
h3,
h4 {
    color: $primary;
}

// link
a {
    color: $primary;
    transition: ease-in color 0.2s;

    &:hover {
        color: lighten($primary, 20%);
    }

    &.list-group-item {
        color: $primary;
        border-bottom: none;

        &:hover {
            color: $tertiary;
        }

        &:visited {
            color: $primary;

            &:hover {
                color: $tertiary;
            }
        }
    }
}

.btn {
    box-shadow: $box-shadow-sm;

    &:hover {
        box-shadow: $box-shadow;
    }
}

.btn-primary:hover,
btn-outline-secondary:hover {
    color: $light;
    box-shadow: $box-shadow;
}
