// general body
body,
.bg-main {
    font-display: optional;
    background: $very-light;
}

// main page content container
#content {
    min-height: 100vh;
    padding: inherit 0;
    margin: inherit 0;

    h2 {
        color: $secondary;
    }

    h1 {
        color: $primary;
    }
}

// numbered lists for toc
.list-group-numbered > li::before {
    color: $primary;
}

pre {
    // general comfort
    padding: 0.5rem;
    border: 0.1rem solid $dark;
    border-radius: 0.25rem;

    // fancy scrollbar for webkit based browsers
    ~ code {
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: $dark;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $primary;
            border-radius: 10px;
        }
    }
}

// figure
figure {
    margin: 0 0.5rem;
}

// blockquote
blockquote {
    padding: 0.5rem;
    margin: 0.5rem 0;
    color: $dark;
    background-color: $nord4;
    border: 1px solid $dark;
    border-left: 3px solid $dark;
    border-radius: 0.5rem;

    p {
        margin-bottom: 0;
    }
}

// link
a {
    color: $secondary;

    &.list-group-item {
        color: $light;
        border-bottom: none;

        &:hover {
            color: darken($light, 10);
            border-right: 2px solid $light;
        }

        &:visited {
            color: $light;

            &:hover {
                color: darken($light, 10);
            }
        }
    }

    &.btn-dark {
        color: $light;

        &:hover {
            color: darken($light, 10);
        }

        &:visited {
            color: $light;

            &:hover {
                color: darken($light, 10);
            }
        }
    }
}

.nav-item.btn-outline-light {
    &:focus {
        box-shadow: none;
    }

    &:hover {
        color: darken($light, 20%);
    }
}

.btn-primary:hover,
btn-outline-secondary:hover {
    color: $light;
}

#wrapper {
    overflow-x: hidden;
}

#page-content-wrapper {
    max-width: 100vw;
    margin-left: 0;
}

.navbar-brand {
    color: $dark;
}
