// general body
body {
    min-width: 100%;
    max-width: 100vw;
    position: relative;
    overflow-x: hidden;
}

body,
.bg-main {
    font-display: optional;
    max-width: 100vw;
    background: $dark !important;
    color: $light;
}

// main page content container
#section-content {
    min-height: 100vh;
    margin-top: -2rem;

    h2 {
        color: $primary;
    }

    h1 {
        color: $tertiary;

        &:first-of-type {
            color: transparent;

            // This has enough (95%+ after can-i-use) coverage to justify the use of prefixed values and properties
            background: -webkit-linear-gradient(45deg, $theme-blue, $theme-red);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

// numbered lists for toc
.list-group-numbered > li::before {
    color: $primary;
}

code {
    color: $primary;
}

pre {
    // general comfort
    padding: 0.5rem;
    border: 0.1rem solid $secondary;
    border-radius: 0.25rem;
    overflow-x: auto;
    box-shadow: $box-shadow-sm;

    // fancy scrollbar for webkit based browsers
    ~ code {
        &::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: $dark;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $primary;
            border-radius: 10px;
        }
    }
}

// figure
figure {
    margin: 0 0.5rem;
    box-shadow: $box-shadow-sm;
}

// blockquote
blockquote {
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: $secondary;
    border: 1px solid $dark;
    border-left: 3px solid $dark;
    border-radius: 0.5rem;
    box-shadow: $box-shadow-sm;

    p {
        margin-bottom: 0;
    }
}

// link
a {
    color: $primary;

    &.list-group-item {
        color: $primary;
        border-bottom: none;

        &:hover {
            color: $tertiary;
        }

        &:visited {
            color: $primary;

            &:hover {
                color: $tertiary;
            }
        }
    }
}

.btn {
    box-shadow: $box-shadow-sm;

    &:hover {
        box-shadow: $box-shadow;
    }
}

.btn-primary:hover,
btn-outline-secondary:hover {
    color: $light;
    box-shadow: $box-shadow;
}
