/* stylelint-disable no-duplicate-selectors */

#menu-toggle {
    border-color: $secondary;

    &:hover {
        transform: scale(1.05);
    }

    &.toggled > svg {
        transform: rotate(180deg);
        transform-origin: center center;
    }
}

// Both need to be separated to avoid cls
#sidebar-wrapper {
    width: $sidebar-wrapper-sm;
    margin-right: -$sidebar-wrapper-sm;

    .nav-item {
        padding: 0.5rem 0 0.5rem 0.5rem;

        .nav-link {
            padding: 0;
            color: $secondary;
            border-radius: 0;
        }
    }

    .active {
        text-decoration: underline solid $secondary;
        border: 0;
        transition: text-decoration ease-out 2s;
    }
}

#sidebar-wrapper {
    width: 20rem;
    margin-right: -20rem;
    transition: margin 0.25s ease-out;
}

.sidebar-toggled #sidebar-wrapper {
    margin-right: 0;
    //border-left: 0.1rem solid $primary;
}

@media (max-width: $breakpoint-md) {
    #sidebar-wrapper {
        width: $sidebar-wrapper-sm;
        margin-right: 0;
    }

    .sidebar-toggled #sidebar-wrapper {
        margin-right: -$sidebar-wrapper-sm;
    }
}

@media (min-width: $breakpoint-md) {
    #sidebar-wrapper {
        width: $sidebar-wrapper-md;
        margin-right: 0;
    }

    .sidebar-toggled #sidebar-wrapper {
        margin-right: -$sidebar-wrapper-md;
    }
}

@media (min-width: $breakpoint-lg) {
    #sidebar-wrapper {
        width: $sidebar-wrapper-lg;
        margin-right: -$sidebar-wrapper-lg;
    }

    .sidebar-toggled #sidebar-wrapper {
        margin-right: 0;
    }
}
