#menu-toggle {
    background-color: $secondary;
    border-color: $tertiary;

    &:hover {
        transform: scale(1.05);
    }

    &.toggled > svg {
        transform: rotate(-45deg);
        transform-origin: center center;
    }
}

.bg-nav-secondary {
    background-color: #5e81ac;
}

/*
 * Sidebar
 */

.sidebar {
    border-right: 1px solid $tertiary;

    li.nav-item {
        width: 100%;
    }

    a {
        width: 100%;

        &.nav-link,
        &.nav-item {
            color: $light;

            &:hover {
                color: darken($light, 20);
            }
        }

        &.nav-item {
            margin-left: 0.5rem;

            &::before {
                color: $light;
                content: '#';
            }
        }

        &.active {
            text-decoration: underline $dark;
        }
    }
}

@media (max-width: $breakpoint-md) {
    .sidebar {
        top: 3.5rem;
        padding-top: 0;
        border-right: none;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
