#menu-toggle {
    background-color: $secondary;
    border-color: $tertiary;

    &:hover {
        transform: scale(1.05);
    }

    &.toggled > svg {
        transform: rotate(-45deg);
        transform-origin: center center;
    }
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 4rem 0 0; /* Height of navbar */
    border-right: 1px solid $tertiary;

    a {
        &.nav-link,
        &.nav-item {
            color: $dark;

            &:hover {
                color: lighten($dark, 20);
            }
        }

        &.nav-item {
            margin-left: 0.5rem;

            &::before {
                color: $tertiary;
                content: '#';
            }
        }

        &.active {
            text-decoration: underline $dark;
        }
    }

    &.show {
        z-index: 140;
    }
}

@media (max-width: $breakpoint-md) {
    .sidebar {
        top: 3.5rem;
        padding-top: 0;
        border-right: none;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
