@import '../node_modules/nord/src/sass/nord';

/* Constants for sidebar-wrapper */
$sidebar-wrapper-sm: 14rem;
$sidebar-wrapper-md: 14rem;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

/* Color modifications for nord theme */
$very-light: $nord6;
$primary: $nord8;
$secondary: $nord2;
$tertiary: $nord10;
$success: $nord14;
$info: $nord15;
$warning: $nord12;
$danger: $nord11;
$light: $nord4;
$dark: $nord0;
$code-color: $secondary;

// general BS modifications for theme
$body-bg: $dark;
$border-color: $primary;
$card-border-color: $primary;
$hr-color: $primary;
$headings-color: $primary;
$body-color: $light;

/* BS modal modifications */
$modal-content-color: $light;
$modal-content-bg: $dark;

/* BS figure modifications */
$figure-caption-color: $light;

/* BS List group modifications */
$list-group-color: $light !default;
$list-group-bg: $dark;
$list-group-border-color: $primary;
$list-group-action-active-bg: $secondary;
$list-group-action-color: $light;
$list-group-disabled-color: #000;
$list-group-hover-bg: lighten($secondary, 10);
$accordion-icon-color: $primary;
$accordion-icon-active-color: #fff;

/* Special colors */
$theme-red: #bf616a;
$theme-blue: $tertiary;

/* Combined theme map */
$nord-theme: (
    'primary': $primary,
    'secondary': $secondary,
    'success': $success,
    'info': $info,
    'tertiary': $tertiary,
    'tertiary-red': $theme-red,
    'warning': $warning,
    'danger': $danger,
    'light': $light,
    'dark': $dark,
);

// Provide map
$theme-colors: $nord-theme;
