encode.py
.DS_Store
node_modules
/build
.toc-cache.json
/.svelte-kit
/package
.env
.env.*
!.env.example
.output
.idea/

# outputs from nix build
result
result/

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
