# Utility scripts
encode.py
test.py

# build output
dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env.*
.env

# Vim swap 
*.swp

# macOS-specific files
.DS_Store

# JetBrains artifacts
.idea/
