{% macro navbar() %}
<header
    id="header"
    class="
        navbar navbar-dark
        sticky-top
        col-auto
        bg-secondary
        d-flex
        justify-content-between
        flex-md-nowrap
        p-0 ox-md-2
    "
>
    {# favicon imported in base.html #}
    <a
        class="
            navbar-brand
            border-1
            bg-nav-secondary
            border-end border-tertiary
            col-md-3 col-lg-2
            me-0
            px-3
            py-2
        "
        href="/"
    >
        {{ favicon::brand() }} Coderdojo
    </a>
    <button
        class="btn btn-primary m-2 d-md-none collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        id="menu-toggle"
        aria-label="Toggle navigation"
    >
        <i class="bi text-tertiary bi-caret-left"></i>
    </button>
</header>
{% endmacro %} {% macro sidebar() %}
<nav
    id="sidebarMenu"
    class="col-1 col-md-2 d-md-block bg-light sidebar collapse"
>
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="bi bi-house-fill"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    href="{{ get_url(path='@/euler/_index.md')|safe }}"
                >
                    <i class="bi bi-megaphone-fill"></i>
                    News
                </a>
            </li>
        </ul>

        <ul class="nav flex-column pl-2 mb-2 scrollable">
            {% set sections = load_data(path="configs/chapters.toml") %} {% for Lsection
            in sections.chapters %}
            <li class="nav-item">
                <a
                    class="nav-link"
                    style="color: {{ Lsection['color'] }} !important;"
                    href="{{ get_url(path=Lsection['path'])|safe }}"
                >
                    <i class="bi bi-{{ Lsection['icon'] }}"></i>
                    {{ Lsection["name"] }}
                </a>

                {% if section.extra.color is defined and section.extra.color ==
                Lsection["color"] %}

                <ul
                    id="chapter-spybar"
                    role="tablist"
                    class="list-group list-group-numbered py-1"
                >
                    {% for chapter in section.toc %} {{
                    toc::item(header=chapter, first=loop.first, last=loop.last,
                    skip=false) }} {% endfor %}
                </ul>

                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
{% endmacro %}
