@layer components {
    .ring-theme {
        --tw-ring-opacity: 1;
        --tw-ring-color: rgb(theme('colors.theme') / var(--tw-ring-opacity));
    }

    .underlined-theme {
        @apply tw-font-mono tw-border-b-4 tw-border-solid tw-border-theme tw-w-fit;
    }

    .btn {
        @apply tw-cursor-pointer tw-justify-center tw-flex tw-items-center tw-px-3 tw-py-2 md:tw-py-3 md:tw-px-4 xl:tw-px-3 xl:tw-py-2;
    }

    .btn-sm {
        @apply tw-justify-center tw-flex tw-items-center tw-px-2 tw-py-1;
    }

    .btn-primary {
        @apply tw-p-2 transition-short hoverable-shadow tw-text-slate-100 tw-bg-theme hover:tw-text-theme hover:tw-bg-slate-100 hover:tw-ring-2 hover:tw-ring-theme;
    }

    .toggled {
        @apply tw-left-[16rem] tw-rotate-180 motion-reduce:tw-rotate-0 !important;
    }

    .card-transition {
        @apply tw-transition tw-duration-500 tw-ease-in-out;
    }

    .card-title-hoverable {
        @apply group-hover:text-theme group-hover:bg-slate-100 card-transition;
    }

    .card-content-hoverable {
        @apply group-hover:text-slate-100 group-hover:bg-theme card-transition;
    }

    .card {
        @apply tw-m-2 tw-bg-slate-100 hoverable-shadow card-transition;
    }

    .card-title {
        @apply tw-p-2 tw-text-xl tw-w-full tw-bg-theme tw-text-slate-100;
    }

    .card-content {
        @apply tw-p-2;
    }

    .icon-belt::before {
        @apply tw-inline-block tw-font-normal tw-font-['Glyphter'] tw-content-['\0053'] tw-text-current tw-align-bottom tw-leading-4 tw-text-xl tw-not-italic tw-rotate-180;
        -webkit-text-stroke: 0.015em #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    /* code blocks */
    figure.highlight,
    pre[class*='language-'] {
        @apply tw-overflow-x-scroll tw-rounded tw-px-1 tw-my-2 tw-border-2 tw-border-opacity-50 tw-border-solid tw-border-theme;
    }

    figure.highlight {
        @apply tw-block tw-py-0 tw-max-h-fit;
    }
}
