/*
 ported shikwasa.css code from https://github.com/jessuni/shikwasa
  */
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes marquee {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translateX(-100%);
    }
}

.shk {
    @apply tw-relative tw-text-lg tw-font-normal tw-leading-normal tw-border-none tw-cursor-auto tw-text-theme;
}

.js-focus-visible:focus:not(.focus-visible),
.js-focus-visible :focus:not(.focus-visible) {
    @apply tw-outline-none;
}

.shk[data-fixed-type='fixed'] {
    @apply tw-m-0 tw-w-full tw-fixed tw-bottom-0 tw-left-0;
}

.shk[data-fixed-type='fixed'][data-fixed-pos='top'] {
    @apply tw-top-0 tw-bottom-auto;
}

.shk[data-seeking] .shk-player {
    @apply tw-cursor-grabbing;
}

.shk button {
    @apply tw-font-[inherit];
}

.shk-player {
    @apply tw-h-32 tw-z-10 tw-box-border tw-mt-1 tw-px-2 tw-py-5 tw-border-2 tw-border-solid tw-bg-slate-100 tw-border-theme sm:tw-px-5 tw-hoverable-shadow tw-card-transition;
}

.shk-body {
    @apply tw-select-none tw-items-stretch tw-w-full tw-flex tw-flex-row tw-relative tw-flex-nowrap;
}

.shk-cover {
    @apply tw-flex-[0_0_auto] tw-w-20 tw-h-20 tw-mr-4 tw-bg-no-repeat tw-bg-cover tw-aspect-square;
}

.shk-main {
    @apply tw-max-h-full tw-justify-start tw-flex tw-flex-row tw-flex-grow tw-relative tw-flex-nowrap sm:tw-items-end sm:tw-px-3;
}

.shk-text {
    @apply tw-overflow-hidden sm:tw-flex-[2_1_auto];
}

.shk-artist,
.shk-title {
    @apply tw-m-auto tw-whitespace-nowrap;
}

.shk-artist {
    @apply tw-font-medium tw-text-slate-900 tw-overflow-clip;
}

.shk-title_wrap[data-overflow] {
    mask-image: linear-gradient(to right, transparent, #202124 5%, #202124 95%, transparent);
}

.shk-title_inner {
    @apply tw-inline-flex tw-overflow-visible;
}

.shk-title_wrap[data-overflow] .shk-title_inner {
    @apply tw-duration-300 tw-box-border tw-py-2 tw-whitespace-nowrap;
}

.shk-title_wrap[data-overflow] .shk-title_inner::after {
    @apply tw-inline-block tw-content-[attr(data-title)];
}

.shk-title_wrap[data-overflow] .shk-title_inner::after,
.shk-title {
    @apply md:tw-text-base md:tw-leading-5;
}

.shk-title_wrap[data-overflow] .shk-title_inner::after,
.shk-title {
    @apply tw-font-mono tw-text-xl tw-text-theme;
}

.shk-title_wrap[data-overflow] .shk-title_inner::after,
.shk-title_wrap[data-overflow] .shk-title {
    @apply tw-pr-16 tw-duration-300 tw-animate-[marquee_linear_infinite];
}

.shk-btn {
    @apply tw-fill-current tw-appearance-none tw-p-3 tw-box-content tw-relative tw-text-base tw-leading-normal tw-border-none tw-cursor-pointer tw-text-theme;
}

.shk-btn:disabled {
    @apply tw-cursor-not-allowed tw-text-slate-900;
}

.shk-btn::after {
    transition: tw-opacity 1s cubic-bezier(0, 0, 0.2, 1), visibility linear 1s;
    @apply tw--z-10 tw-opacity-0 tw-pointer-events-none tw-invisible tw-bg-theme tw-rounded-[50%] tw-w-full tw-h-full tw--translate-x-[50%] tw--translate-y-[50%] tw-left-[50%] tw-top-[50%] tw-absolute tw-content-[""];
}

.shk-btn:not(:disabled):active::after {
    @apply tw-visible tw-opacity-100;
}

a.shk-btn:visited {
    @apply tw-text-theme;
}

.shk-btn svg {
    @apply tw-align-middle tw-h-6 tw-w-6 tw-aspect-square;
}

.shk-controls {
    @apply tw-flex-[0_0_auto] tw-relative tw-mx-0 tw-my-auto tw-w-72;
}

.shk-controls .shk-btn {
    @apply tw-rounded-full;
}

.shk-controls > div {
    @apply tw-items-center tw-flex tw-flex-row tw-flex-nowrap;
}

.shk-controls_basic {
    @apply tw-justify-between;
}

.shk-controls_extra {
    transition: width 0.2s ease-in-out, tw-opacity 0.1s 0.1s linear, visibility 0.2s;

    @apply tw-absolute tw-justify-end tw-h-full tw-z-10 tw-invisible tw-opacity-0 tw-overflow-hidden tw-w-0 tw-bottom-0 tw-right-0 tw-pr-2 tw-bg-slate-100 tw-mr-11 tw-whitespace-nowrap;
}

.shk[data-extra] .shk-controls_extra {
    width: calc(100%- 44px);
    transition: width 0.2s ease-in-out, tw-opacity 0.1s linear;

    @apply tw-visible tw-opacity-100;
}

.shk[data-extra] .shk-controls_extra .shk-btn {
    @apply tw-inline-block;
}

.shk-btn_toggle svg {
    @apply tw-h-8 tw-w-8 tw-aspect-square;
}

.shk[data-play='paused'] .shk-btn_play,
.shk[data-play='playing'] .shk-btn_pause {
    @apply tw-inline;
}

.shk[data-play='paused'] .shk-btn_pause,
.shk[data-play='playing'] .shk-btn_play {
    @apply tw-hidden;
}

.shk-btn_speed {
    @apply tw-p-0 tw-text-sm tw-font-normal tw-h-11 tw-w-11 tw-aspect-square;
}

.shk-btn_more {
    transition: transform 0.2s 0.1s;

    @apply tw-transform-none tw-z-[11] tw-relative;
}

.shk[data-extra] .shk-btn_more {
    @apply tw-rotate-90;
}

svg.shk-btn_unmute,
.shk[data-mute] svg.shk-btn_mute {
    @apply tw-inline-block;
}

svg.shk-btn_mute,
.shk[data-mute] svg.shk-btn_unmute {
    @apply tw-hidden;
}

.shk-bar_wrap {
    @apply tw-z-[1] tw-relative tw-cursor-pointer sm:tw-right-0 sm:tw--top-1 sm:tw-left-0 sm:tw-absolute sm:tw-px-1 sm:tw-pb-4;
}

.shk-bar {
    @apply tw-h-4 tw-box-border tw-mt-2 tw-w-full tw-bg-transparent tw-relative;
}

.shk-bar_loaded,
.shk-bar_played {
    transition: width ease-in 0.1s;

    @apply tw-absolute tw-w-0 tw-top-0 tw-bottom-0 tw-left-0;
}

.shk-bar_loaded {
    @apply tw-bg-theme;
}

.shk-bar_played {
    @apply tw-bg-slate-600;
}

.shk[data-seeking] .shk-bar_played {
    @apply tw-transform-none;
}

.shk-bar-handle {
    @apply tw-box-content tw-absolute tw-w-5 tw-h-5 tw-p-0 tw-rounded-3xl tw-cursor-grab tw--right-3 tw-bg-theme sm:tw-border-4 sm:tw-border-solid sm:tw-border-transparent sm:tw--top-[9.5px];
}

.shk-bar-handle:disabled {
    @apply tw-shadow-none tw-cursor-not-allowed tw-bg-slate-600;
}

.shk-bar-handle:active {
    @apply tw-cursor-grabbing;
}

.shk-display {
    @apply tw-absolute sm:tw--top-2 sm:tw-right-2;
}

.shk-loader {
    @apply tw-align-middle tw-hidden tw-text-slate-300 sm:tw-mr-1;
}

.shk[data-loading] .shk-loader {
    @apply tw-inline-block;
}

.shk-loader svg {
    animation: rotate 1.4s linear infinite;

    @apply tw-h-3 tw-w-3 tw-relative;
}

.shk-visuallyhidden:not(:focus):not(:active) {
    clip-path: inset(100%);
    clip: rect(0 0 0 0);

    @apply tw-overflow-hidden tw-whitespace-nowrap tw-p-0 tw-border-0 tw-h-[1px] tw-w-[1px] tw--m-[1px] tw-absolute;
}

.shk-time {
    @apply tw-align-middle tw-inline-block tw-text-sm tw-font-light tw-text-slate-800;
}

.shk .shk-live {
    @apply tw-uppercase tw-items-center tw-hidden tw-font-sans tw-text-sm tw-text-theme;
}

.shk .shk-live::before {
    @apply tw-content-[""] tw-rounded-[50%] tw-w-2 tw-h-2 tw-mr-1;
}

.shk-icons,
.shk[data-live] .shk-bar,
.shk[data-live] .shk-time {
    @apply tw-hidden;
}

.shk[data-live] .shk-live {
    @apply tw-inline-flex;
}

.shk-bar_wrap:hover .shk-bar {
    @apply sm:tw-h-3;
}

.shk-time_duration::before {
    content: ' - ';

    @apply sm:tw-py-1;
}

@media (min-width: 641px) {
    .shk-bar {
        transition: height 0.15s ease-in;
    }

    .shk-bar-handle {
        transition: all 0.1s ease-in;
        transform: scale(0.0001);
    }

    .shk-bar-handle.focus-visible,
    .shk-bar_wrap:hover .shk-bar-handle:not(:disabled) {
        transform: scale(0.8);

        @apply tw-border-slate-100;
    }
}

/* TODO: Migrate last rules to TailwindCSS */

@media (max-width: 640px) {
    .shk[data-fixed-type='auto'] {
        @apply tw-left-0 tw-bottom-0 tw-w-full tw-fixed;
    }
    .shk[data-fixed-type='auto'][data-fixed-pos='top'] {
        top: 0;
        bottom: auto;
    }
    .shk[data-live] .shk-bar_wrap {
        height: 4px;
    }
    .shk-cover {
        display: none;
    }
    .shk-main {
        width: 100%;
        max-width: none;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .shk-text {
        flex: 0 0 auto;
    }
    .shk-text {
        width: 100%;
        text-align: center;
    }

    .shk-artist_wrap {
        font-size: 0.8em;
        line-height: 1.1;
    }

    .shk-artist {
        @apply tw-inline-block;
    }

    .shk-bar_wrap {
        @apply tw-px-2 tw-py-0 tw-mx-0 tw-my-16;
    }

    .shk-bar-handle {
        @apply tw--top-3 tw-shadow-md tw-inline-block;
    }

    .shk-bar {
        background: var(--color-opac);
        border-radius: 2px;
    }
    .shk-display {
        top: -16px;
        left: 0;
        right: 0;
    }
    .shk-loader {
        position: tw-absolute;
        left: -10px;
        top: -5px;
    }
    .shk-time {
        margin: 0 5px;
        font-size: 0.7em;
        line-height: 1;
        display: tw-flex;
        justify-content: space-between;
        flex-flow: row nowrap;
    }
    .shk-time_now {
        width: 40px;
        text-align: tw-right;
    }
    .shk-time_duration {
        width: 40px;
        text-align: tw-left;
    }
    .shk-live {
        position: tw-absolute;
        right: 0;
        top: 0;
    }
}
