{% macro meta() %}
<meta name="msapplication-TileColor" content="#2e2e2e" />
<meta name="msapplication-TileImage" content="{{
    get_url(path=" /images/mstile-144x144.png")|safe }}" />
<meta name="msapplication-config" content="{{
    get_url(path=" /images/browserconfig.xml")|safe }}" />
<meta name="theme-color" content="#2e2e2e" />

<!-- theme/images/favicon -->
<meta property="og:image" content="{{
    get_url(path=" images/brand.png")|safe }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{
    get_url(path=" /images/apple-touch-icon.png")|safe }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{
    get_url(path=" /images/favicon-32x32.png")|safe }}" />
<link rel="icon" type="image/png" sizes="194x194" href="{{
    get_url(path=" /images/favicon-194x194.png")|safe }}" />
<link rel="icon" type="image/png" sizes="192x192" href="{{
    get_url(path=" /images/android-chrome-192x192.png")|safe }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{
    get_url(path=" /images/favicon-16x16.png")|safe }}" />
<link rel="manifest" href="{{ get_url(path=" /images/site.webmanifest")|safe }}" />
<link rel="mask-icon" href="{{
    get_url(path=" /images/safari-pinned-tab.svg")|safe }}" color="#2e2e2e" />
<link rel="shortcut icon" href="{{
    get_url(path=" /images/favicon.ico")|safe }}" />
{% endmacro %}