{% macro footer() %}
<!-- Footer -->
<footer id="footer" class="page-footer font-small w-100">
    <!-- Copyright -->
    <div class="footer-copyright bg-primary mb-0 py-3">
        <div class="container">
            <div class="row gy-2 justify-content-center align-items-start">
                <div class="col-sm-12 col-lg-6">
                    <div class="h5 text-white">Schnellzugriffe</div>

                    <p class="mb-1">
                        <a
                            class="
                                ml-1
                                btn btn-outline-light btn-sm
                                text-decoration-none
                            "
                            href="https://www.getzola.org/"
                        >
                            <i class="bi bi-heart"></i>
                            Gebaut mit Zola
                        </a>
                    </p>

                    <p class="mb-1">
                        <a
                            class="
                                ml-1
                                btn btn-outline-light btn-sm
                                text-decoration-none
                            "
                            href="https://cobalt.rocks/"
                        >
                            <i class="bi bi-person-circle"></i>
                            Designt von Cobalt
                        </a>
                    </p>

                    <p class="mb-1">
                        <a
                            class="
                                btn btn-outline-light btn-sm
                                text-decoration-none
                            "
                            href="{{ get_url(path='@/content/copyright.md')|safe }}"
                        >
                            <i class="bi bi-journal-text"></i> Urheberrecht
                        </a>
                    </p>
                </div>

                <div class="col-sm-12 col-lg-6">
                    <div class="h5 text-white">{{ config.extra.base_domain }}</div>
                    <p class="mb-1">
                        <a
                            href="{{ get_url(path='@/content/imprint.md')|safe }}"
                            class="
                                ml-1
                                btn btn-outline-light btn-sm
                                text-decoration-none
                            "
                        >
                            <i class="bi bi-blockquote-right"></i>
                            Impressum
                        </a>
                    </p>

                    <p class="mb-1">
                        <a
                            class="
                                btn btn-outline-light btn-sm
                                text-decoration-none
                            "
                            href="{{ get_url(path='@/content/privacy.md')|safe }}"
                        >
                            <i class="bi bi-clipboard-data"></i>
                            Datenschutzrichtlinie
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- #Copyright -->
</footer>
<!-- #Footer -->
{% endmacro footer %}
