{% macro navbar() %}
<!-- Sidebar -->
<div id="sidebar-wrapper">
  <div class="sticky-top p-3">
    <a href="/" class="nav-link p-0 align-middle">
      {{ favicon::brand() }} Coderdojo
    </a>
    <hr />
    <ul class="nav nav-pills flex-column" id="menu">
      <li>
        <a href="/" class="nav-link px-0 align-middle">
          <i class="bi bi-house"></i>
          Home
        </a>
      </li>
      <li>
        <a
          class="nav-link px-0 align-middle"
          href="{{ get_url(path='@/news/_index.md')|safe }}"
        >
          <i class="bi bi-newspaper"></i>
          News
        </a>
      </li>

      {% set sections = load_data(path="configs/chapters.toml") %} {% for
      Lsection in sections.chapters %}
      <li class="nav-item">
        <a
          class="nav-link px-0 icon-belt align-bottom"
          style="color: {{ Lsection['color'] }} !important"
          href="{{ get_url(path=Lsection['path'])|safe }}"
        >
          {{ Lsection["name"] }}
        </a>
        <!--{#
                This will stay hidden until scrollspy works
                {% if section.extra.color is defined and section.extra.color ==
                Lsection["color"] %}
                <div class="d-none d-sm-inline">
                    <a
                        class="nav-link text-decoration-none pt-2 px-0"
                        data-bs-toggle="collapse"
                        href="#chapter-spybar"
                        role="button"
                        aria-expanded="false"
                        aria-controls="chapter-spybar"
                    >
                        <i class="bi bi-table"></i> TOC <i class="pl-1 bi bi-chevron-down"></i>
                    </a>
                    <ul
                        id="chapter-spybar"
                        role="tablist"
                        class="list-group collapse hide list-group-numbered"
                    >
                        {% for chapter in section.toc %} {{
                        toc::item(header=chapter, first=loop.first,
                        last=loop.last, skip=false, nav=true) }} {% endfor %}
                    </ul>
                </div>

                {% endif %}
                  #}-->
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
