{% macro item(header, first, last, list_id="", skip=true) %}

{% if first and skip %}
<ul {% if list_id !="" %} id="{{ list_id }}" {% endif %} class="flex-column nav">
    {% endif %}
    <a class="nav-item list-group-item border-0 bg-transparent text-decoration-none" href="#{{ header.id }}">
        {{ header.title }}
    </a>
    {% for child in header.children %}
    {{ toc::item(header=child, first=loop.first, last=loop.last) }}
    {% endfor %}
    {% if last and skip %}
</ul>
{% endif %}
{% endmacro footer %}