<div
    class="
        border border-1 border-secondary border-rounded
        bg-secondary
        d-flex
        justify-content-between
    "
    data-type="file-helper"
>
    <span class="px-2 my-auto text-light font-monospace"> {{ name }} </span>

    <span>
        <button
            class="btn btn-sm btn-secondary shadow-none rounded-0"
            data-type="play"
            style="cursor: pointer"
        >
            Play <i class="bi bi-play"></i>
        </button>
        <button
            class="btn btn-sm btn-secondary shadow-none rounded-0"
            data-type="copy"
            style="cursor: copy"
        >
            Copy <i class="bi bi-link-45deg"></i>
        </button>
    </span>
</div>
