---
import BaseLayout from "../layouts/Page.astro";
import Button from "../components/Button.astro";
---

<!-- <Meta title={"Willkomen zum CoderDōjō"} /> -->
<BaseLayout title="Willkomen zum CoderDōjō">
  <div
    class="md:items-center md:mt-[10%] flex gap-4 md:flex-row flex-col px-5 mx-auto"
  >
    <div class="flex flex-col gap-3 md:w-1/2 w-full">
      <h1 class="sm:text-3xl text-center text-2xl font-medium">
        Willkomen zum CoderDōjō <span
          class="bg-gradient-reverse bg-clip-text text-transparent"
        >
          Red und Blue
        </span>
      </h1>
      <p class="leading-relaxed text-lg">
        Willkommen beim CoderDōjō für Jugendliche! Wir sitzen zwar in Berlin,
        aber da bei uns vieles online stattfindet, kannst Du bei uns an vielem
        auch teilnehmen, wenn Du hier nicht wohnst. Wir wollen gemeinsam mit Dir
        die rote Pille nehmen und das Wunderland entdecken. Wir treffen uns
        immer donnerstags ab 20:30 Uhr in unserem <a
          href="https://bbb.cyber4edu.org/b/der-0rc-8x7-4re"
        >
          BigBlueButton-Raum
        </a>
        Raum. Unsere aktuelle Kommunikation findet in unserem
        <a href="https://matrix.to/#/#coderdojo:matrix.cyber4edu.org">
          Matrix-Raum
        </a> statt. Am besten schaust du da mal rein. Dort verabreden wir uns, tauschen
        uns aus und kündigen auch an, wenn sich ein Termin verschiebt oder was für
        Themen anstehen.
      </p>
      <div class="flex flex-row justify-center btn-group">
        <Button href="/posts/news/">
          News zum Dojo <i class="text-2xl md:text-xl bi-info-circle"></i>
        </Button>
        <Button href="/posts/dojo/">
          Zur Einführung <i class="text-2xl md:text-xl bi-chevron-double-right"
          ></i>
        </Button>
      </div>
    </div>
    <div class="quote-card">
      <i class="text-2xl bi-quote text-emerald-500"></i>
      <p>
        Das ist deine letzte Chance. Danach gibt es kein zurück. Nimm die blaue
        Pille — die Geschichte endet, du wachst in deinem Bett auf und glaubst
        was du auch immer glauben willst. Nimm die rote Pille — du bleibst hier
        im Wunderland und ich werde dir zeigen wie tief das Kaninchenloch
        reicht.
      </p>
      <span id="bar"></span>
      <h2>Matrix</h2>
    </div>
  </div>
</BaseLayout>
