<div class="tw-flex tw-flex-col tw-card">
    <div class="tw-card-title">
        <h1><%- title_case(item.title) %></h1>
    </div>

    <div class="tw-flex tw-flex-col tw-justify-between tw-flex-grow tw-card-content">
        <p class="tw-flex-grow"><%= item.summary || item.description || truncate(item.content, {"length": 20}) %></p>

        <a href="<%- url_for(item.path) %>" class="tw-mx-auto tw-mt-2 tw-btn tw-btn-primary tw-w-fit">
            Lese mehr <i class="tw-ml-2 bi bi-eyeglasses"></i>
        </a>
    </div>
</div>
