<div class="flex flex-col justify-between py-2 mt-60 md:flex-row">
    <div class="flex flex-col basis-1/2">
        <div class="flex align-middle text-theme">
            <img src="/images/brand.svg" alt="" height="24" width="24" class="mr-2 aspect-square" /> Coderdojo Red and
            Blue
        </div>

        <ul class="leading-relaxed list-none">
            <li>
                <a href="/info/imprint/"><i class="mr-2 bi bi-blockquote-right"></i> Impressum</a>
            </li>
            <li>
                <a href="/info/privacy/"><i class="mr-2 bi bi-clipboard-data"></i> Datenschutzerklärung</a>
            </li>
            <li>
                <a href="/info/open-source/"><i class="mr-2 bi bi-journal-text"></i> Urheberrecht</a>
            </li>
        </ul>
    </div>

    <div class="flex flex-col basis-1/2">
        <div class="font-extrabold text-theme"><i class="bi bi-box-arrow-up-right"></i> Schnellzugriffe</div>

        <ul class="leading-relaxed list-none">
            <li>
                <a href="https://hexo.io/"><i class="mr-2 bi bi-heart"></i> Gebaut mit Hexo</a>
            </li>
            <li>
                <a href="https://cobalt.rocks"><i class="mr-2 bi bi-person-circle"></i> Designt von Cobalt</a>
            </li>
            <li>
                <a href="https://gitlab.cobalt.rocks/coderdojo/coderdojo-website">
                    <i class="mr-2 bi bi-journal-code"></i> Quellcode
                </a>
            </li>
        </ul>
    </div>
</div>
