<div class="tw-flex tw-flex-col tw-justify-between tw-py-2 tw-mt-60 md:tw-flex-row">
    <div class="tw-flex tw-flex-col tw-basis-1/2">
        <div class="tw-flex tw-align-middle tw-text-theme">
            <img src="/images/brand.svg" alt="" height="24" width="24" class="tw-mr-2 tw-aspect-square" /> Coderdojo Red
            and Blue
        </div>

        <ul class="tw-leading-relaxed tw-text-xl md:tw-text-base tw-list-none">
            <li>
                <a href="/info/imprint/"><i class="tw-mr-2 bi bi-blockquote-right"></i> Impressum</a>
            </li>
            <li>
                <a href="/info/privacy/"><i class="tw-mr-2 bi bi-clipboard-data"></i> Datenschutzerklärung</a>
            </li>
            <li>
                <a href="/info/open-source/"><i class="tw-mr-2 bi bi-journal-text"></i> Urheberrecht</a>
            </li>
        </ul>
    </div>

    <div class="tw-flex tw-flex-col tw-basis-1/2">
        <div class="tw-font-extrabold tw-text-theme"><i class="bi bi-box-arrow-up-right"></i> Schnellzugriffe</div>

        <ul class="tw-leading-relaxed tw-text-xl md:tw-text-base tw-list-none">
            <li>
                <a href="https://hexo.io/"><i class="tw-mr-2 bi bi-heart"></i> Gebaut mit Hexo</a>
            </li>
            <li>
                <a href="https://cobalt.rocks"><i class="tw-mr-2 bi bi-person-circle"></i> Designt von Cobalt</a>
            </li>
            <li>
                <a href="https://gitlab.cobalt.rocks/coderdojo/coderdojo-website">
                    <i class="tw-mr-2 bi bi-journal-code"></i> Quellcode
                </a>
            </li>
        </ul>
    </div>
</div>
