<head>
  <!-- Page metadata -->
  <meta charset="UTF-8" />
  <title>Coderdojo Red and Blue</title>
  <meta property="og:title" content="Coderdojo" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta property="og:site_name" content="Coderdojo" />
  <meta property="og:type" content="text/html" />

  <!-- Icon -->
  <%- partial('favicon') %>

    <!-- CSS -->
    <!-- <link rel="preload" href="/fonts/source-sans-pro-all.woff" as="font" type="font/woff" crossorigin ></link> -->
    <%- css("css/index.css") %>

      <!-- JS -->
      <%- js("js/bundle.js") %>
</head>