---
import Button from "$components/Button.astro";

export interface Props {
  license: {
    name: string;
    copyright: string | undefined;
    publisher: string;
    repository: string | undefined;
    url: string;
    licenseText: string;
  };
}

const { license } = Astro.props;
const description =
  license.copyright !== undefined && license.copyright !== ""
    ? license.copyright
    : license.name + " published by " + license.publisher;
const href =
  license.repository !== undefined && license.repository !== ""
    ? license.repository
    : license.url;
---

<div
  class="px-2 md:px-6 py-2 flex flex-col items-start bg-slate-50 bg-opacity-50 shadow"
>
  <span class="text-2xl mb-4 my-0">
    {license.name}
  </span>
  <p class="leading-relaxed mb-8 flex-grow">
    {description}
  </p>
  <div class="flex items-center justify-around flex-wrap mt-auto w-full">
    <Button {href} color="theme-neutral" size="small">
      Zum Projekt
      <i class="text-2xl md:text-xl bi-chevron-double-right"> </i>
    </Button>
    {/* TODO: Implement below with some kind of popu for license.text */}
    <Button href="#" color="theme-neutral" size="small">
    Lizens Text
      <i class="text-2xl md:text-xl bi-body-text"> </i>
    </Button>
  </div>
</div>
