---
import Logo from "$components/Logo.astro";

const sections: { [key: string]: [string, string, string, boolean][] } = {
  CoderDōjō: [
    ["ph-article", "Impressum", "/imprint/", false],
    ["ph-lock-key", "Datenschutzrichtline", "/privacy/", false],
    ["ph-copyright", "Urheberrecht", "/copyright/", false],
    ["ph-user", "Kontakt", "/contact/", false],
  ],
  Schnellzugriffe: [
    ["ph-rss", "RSS", "/feed/", true],
    ["ph-rocket", "Gebaut mit Astro", "https://astro.build", false],
    ["ph-wrench", "Gebaut von Cobalt", "https://cobalt.rocks", false],
    ["ph-code", "Quellcode", "https://gitlab.cobalt.rocks/coderdojo/coderdojo-website/", false]
  ],
};
---

<footer>
  <div class="footer-container">
    <div class="footer-logo">
      <a href="/">
        <div class="w-10 h-10">
          <Logo />
        </div>
        <span> CoderDōjō <span>R & B</span></span>
      </a>
    </div>
    <div class="footer-section-container">
      {
        Object.entries(sections).map(([title, value]) => (
          <div class="footer-section">
            <span>{title}</span>
            <ul>
              {value.map(([icon, item, href, disabled]) => (
                <li>
                  <a href={href} class={icon} style={disabled ? {pointerEvents: "none"} : null}>
                    {item}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</footer>
