---
import licenses from "$lib/licenses.json";
import AttributionCard from "$components/AttributionCard.astro";
---

<div class="gap-3 flex flex-col">
  {
    Object.values(licenses).map((license) => (
      <AttributionCard license={license} />
    ))
  }
</div>
