A file that contains placeholders for classes that are not detected by tailwind CSS JIT
This is required since some sources, like hastHH, 

<div class="flex flex-col"></div>


<div class="button button-theme button-hoverable button-small-icon button-medium button-theme-neutral button-secondary">
  <a/>
  <p/>
</div>


