<!-- A file that contains placeholders for classes that are not detected by tailwind CSS JIT -->
<div class="flex flex-col"></div>
<div class="prose lg:prose-lg prose-slate prose-extension"></div>

<div
  class="max-w-full justify-center md:float-left md:float-right md:inline-flex hidden"
>
</div>

<div
  class="button button-small button-theme button-hoverable button-small-icon button-medium button-theme-neutral button-secondary"
>
  <a></a>
  <p></p>
</div>
