---
export interface Props {
  headings: [string, string][];
}

const { headings } = Astro.props;
---

<div class="toc-dropdown">
  <ol class="toc-list-standalone">
    {
      headings.map(([url, heading]) => (
        <li>
          <a href={url}>{heading}</a>
        </li>
      ))
    }
  </ol>
</div>
