---
import Base from "$layouts/Page.astro";
import NewsCard from "$components/NewsCard.astro";

const news: [string, string, string, string][] = await Astro.glob(
  "./20*.mdx"
).then((files) =>
  files
    .map((file) => [file, file.frontmatter])
    .filter(
      ([_, frontmatter]) =>
        frontmatter.pubDate !== undefined &&
        frontmatter.title !== undefined &&
        frontmatter.description !== undefined
    )
    .map(([file, frontmatter]) => [
      file.url,
      frontmatter.title,
      frontmatter.pubDate.substr(0, 10),
      frontmatter.description,
    ])
);
---

<Base title="News" description="News und Updates rund um CoderDōjō">
  <div
    class="flex w-full flex-col items-center gap-3 md:flex-row md:items-start"
  >
    <div class="flex-grow">
      <div
        class="prose-extension prose prose-slate mb-3 text-center lg:prose-lg"
      >
        <h1>News</h1>
      </div>

      <div
        class="grid w-full grid-flow-row grid-cols-1 gap-2 md:grid-cols-2 mx-auto md:max-w-[100ch]"
      >
        {
          news.map(([href, title, date, description]) => (
            <NewsCard
              title={title}
              href={href}
              description={description}
              date={date}
            />
          ))
        }
      </div>
    </div>
  </div>
</Base>
