{% extends "base.html" %} {% block content %}
<div
    class="container w-80 mt-3 mx-auto"
    itemscope
    itemtype="https://schema.org/SearchResultsPage"
>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Coderdojo – Title</h1>
            <p class="lead">
                Something short and leading about the collection below—its
                contents, the creator, etc. Make it short and sweet, but not too
                short so folks don't simply skip over it entirely.
            </p>
            <p>
                <a href="#" class="btn btn-primary my-2 btn-lg">
                    <i class="bi bi-box-arrow-in-right"></i>
                    Start Now
                </a>
            </p>

        </div>
    </section>

    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
<p>Willkommen beim CoderDojo für Jugendliche! Wir sitzen zwar in Berlin, aber
da bei uns vieles online stattfindet, kannst Du bei uns an vielem auch
teilnehmen, wenn Du hier nicht wohnst.</p>
<p>Wir wollen gemeinsam mit Dir die rote
Pille nehmen und das Wunderland entdecken. Grundsätzlich gibt es bei uns
zwei Gruppen: <br>
Das EulerProjekt ist stark mathezentriert. In dieser Gruppe
werden mathematische Probleme mit Code gelöst.<br>
Und das Dojo, bei dem der
Schwerpunkt beim Coden liegt. Der Begriff ist aber weit zu verstehen. Wenn
Du mehr darüber wissen willst, klick am besten auf Überblick. Das Projekt
greift unser CoderDojo, welches wir vor der Pandemie betrieben mit neuen
Konzepten wieder auf.
</p>
                </div>



            </div>
        </div>
    </div>
</div>
{% endblock %}
