{% extends "base.html" %} {% block content %} {% if section.extra.color is
defined %} {% set color = section.extra.color %} {% else %} {% set color =
"inherit" %} {% endif %}

<style>
    h1, h2, h3, h4, h5, h6 {
        color: {{ color }} !important;
    }
</style>

<div
    class="container w-100 mt-3 mx-auto"
    itemscope
    itemtype="https://schema.org/SearchResultsPage"
>
    <section
        class="dark-grey-text"
        data-bs-spy="scroll"
        data-bs-target="#chapter-spybar"
        data-bs-offset="0"
        class="scrollspy-example"
        tabindex="0"
    >
        <h1 class="h1 text-center" id="title" itemtype="headline">
            {% if section.title %} {{ section.title }} {% else %} {{
            section.path|safe }} {% endif %} {% if section.extra.subtitle is
            defined %}
            <span class="visually-hidden">{{ section.extra.subtitle }} </span>
            {% endif -%}
        </h1>
        <p id="info" class="dark-grey-text align-middle bg-beige text-dark">
            {% if section.draft %}
            <span class="text-bold"> Draft </span>
            <span class="px-1">/</span>
            {% endif %} {% if config.extra.section %} {% if
            section.extra.section is defined and section.extra.section != true
            %} {% else %}

            <span class="text-bold"> Section </span>
            <span class="px-1">/</span>
            {% endif %} {% endif %} {% if config.extra.link %} {% if
            section.extra.link is defined and section.extra.link != true %} {%
            else %}
            <button
                class="btn btn-sm btn-outline-dark"
                onclick="window.CopyToClipBoard('{{ section.permalink|safe }}', this);"
            >
                Copy Link <i class="bi bi-link-45deg"></i>
            </button>
            {% endif %} {% endif %}
        </p>
        <div class="container-fluid" itemprop="mainContentOfPage">
            {{ section.content|safe }}
        </div>
    </section>
</div>
{% endblock %} {% block extra_js %} {% if config.extra.katex or section.extra.katex
%}
<script defer src="{{ get_url(path="/katex/katex.min.js")|safe }}" integrity="sha256-{{ get_file_hash(path="/katex/katex.min.js", sha_type=256, base64=true) | safe }}"></script>
<script defer src="{{ get_url(path="/katex/contrib/auto-render.min.js")|safe }}" integrity="sha256-{{ get_file_hash(path="/katex/contrib/auto-render.min.js", sha_type=256, base64=true) | safe }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        renderMathInElement(document.body, {
            delimiters: [
                { left: '$$', right: '$$', display: true },
                { left: '$', right: '$', display: false },
            ],
        });
    });
</script>
<link rel="stylesheet" href="{{ get_url(path="/katex/katex.min.css")|safe }}" integrity="sha256-{{ get_file_hash(path="/katex/katex.min.css", sha_type=256, base64=true) | safe }}" />
{% endif %} {% endblock %}
