<div class="tw-w-full tw-h-[3rem] tw-border-solid tw-border-b-2 tw-border-theme tw-flex tw-items-end tw-justify-center tw-text-center tw-mb-3">
    <h1 class="tw-my-2 tw-text-5xl tw-text-theme"><%- title_case(page.category) %></h1>
</div>

<div class="tw-border-theme tw-border-1 tw-border-solid tw-flex tw-mb-3">
    <button data-action="copy-link" data-target="<%- page.permalink %>" class="btn-sm btn-primary">
        <i class="bi bi-link-45deg tw-mr-2"></i> Link teilen
    </button>
</div>

<div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-4">
    <% page.posts.each(function(item){ %> <%- partial('partial/article-card', {item: item}) %> <% }); %>
</div>

