<h1 class="tw-mt-16 tw-mb-3 tw-text-5xl tw-text-center tw-text-theme xl:tw-mt-10">Coderdojo Blue and Red Berlin</h1>

<div class="tw-px-2 tw-font-mono tw-text-center">
  <p>„Das ist deine letzte Chance. Danach gibt es kein zurück.</p>
  <p>
    Nimm die blaue Pille — die Geschichte endet,<br />
    du wachst in deinem Bett auf und glaubst was du auch immer glauben willst.
  </p>
  <p>
    Nimm die rote Pille — <br />
    du bleibst hier im Wunderland und ich werde dir zeigen wie tief das Kaninchenloch reicht.“
  </p>
  <p><small>Matrix</small></p>
</div>

<div class="tw-py-8">
  <div class="tw-tw-flex tw-tw-flex-row tw-tw-flex-wrap md:tw-tw-flex-nowrap">
    <div class="md:tw-pr-1">
      <p>
        Willkommen beim CoderDojo für Jugendliche! Wir sitzen zwar in Berlin, aber da bei uns vieles online
        stattfindet, kannst Du bei uns an vielem auch teilnehmen, wenn Du hier nicht wohnst.
      </p>
      <p>
        Wir wollen gemeinsam mit Dir die rote Pille nehmen und das Wunderland entdecken. Grundsätzlich gibt es
        bei uns zwei Gruppen, die sich beide
        <a href="https://bbb.cyber4edu.org/b/der-0rc-8x7-4re"> donnerstags ab 20:30 Uhr hier treffen </a>
        bzw. per
        <a href="https://matrix.to/#/#coderdojo:matrix.cyber4edu.org"> Matrix verabreden oder austauschen </a>:
      </p>
    </div>
  </div>
</div>

<div class="tw-py-2 tw-justify-between tw-flex tw-flex-row tw-flex-wrap md:tw-flex-nowrap">
  <div class="tw-flex tw-flex-col card tw-basis-full md:tw-basis-1/2">
    <div class="card-title">
      <h1><i class="bi bi-calculator"></i> Euler Gruppe</h1>
    </div>

    <div class="tw-flex tw-flex-col tw-justify-between tw-flex-grow card-content">
      <p class="tw-flex-grow">
        Das EulerProjekt ist stark mathezentriert. In dieser Gruppe werden mathematische Probleme mit Code
        gelöst.
      </p>

      <a href="/info/euler/projektgruppe/" class="tw-mx-auto tw-mt-2 btn btn-primary tw-w-fit">
        <i class="tw-mr-2 bi bi-arrow-left-square"></i> Gehe zur Euler Gruppe
      </a>
    </div>
  </div>

  <div class="tw-flex tw-flex-col card tw-basis-full md:tw-basis-1/2">
    <div class="card-title">
      <h1><i class="bi bi-journal-code"></i> Dōjō</h1>
    </div>

    <div class="tw-flex tw-flex-col tw-justify-between tw-flex-grow card-content">
      <p class="tw-flex-grow">
        Das Dōjō, bei dem der Schwerpunkt beim Coden liegt. Der Begriff ist aber weit zu verstehen. Wenn Du mehr
        darüber wissen willst, klick am besten auf Überblick.
      </p>

      <a href="/info/kyo-info/introduction/" class="tw-mx-auto tw-mt-2 btn btn-primary tw-w-fit">
        Gehe zum Dōjō <i class="tw-ml-2 bi bi-arrow-right-square"></i>
      </a>
    </div>
  </div>
</div>