<h1 class="mt-16 mb-3 text-5xl text-center text-theme xl:mt-10">
  Coderdojo Blue and Red Berlin
</h1>

<div class="px-2 font-mono text-center">
  <p>„Das ist deine letzte Chance. Danach gibt es kein zurück.</p>
  <p>
    Nimm die blaue Pille — die Geschichte endet,<br />
    du wachst in deinem Bett auf und glaubst was du auch immer glauben willst.
  </p>
  <p>
    Nimm die rote Pille — <br />
    du bleibst hier im Wunderland und ich werde dir zeigen wie tief das
    Kaninchenloch reicht.“
  </p>
  <p><small>Matrix</small></p>
</div>

<div class="py-8">
  <div class="flex flex-row flex-wrap md:flex-nowrap">
    <div class="md:pr-1">
      <p>
        Willkommen beim CoderDojo für Jugendliche! Wir sitzen zwar in Berlin,
        aber da bei uns vieles online stattfindet, kannst Du bei uns an vielem
        auch teilnehmen, wenn Du hier nicht wohnst.
      </p>
      <p>
        Wir wollen gemeinsam mit Dir die rote Pille nehmen und das Wunderland
        entdecken. Grundsätzlich gibt es bei uns zwei Gruppen, die sich beide
        <a href="https://bbb.cyber4edu.org/b/der-0rc-8x7-4re">
          donnerstags ab 20:30 Uhr hier treffen
        </a>
        bzw. per
        <a href="https://matrix.to/#/#coderdojo:matrix.cyber4edu.org">
          Matrix verabreden oder austauschen </a>:
      </p>
    </div>
  </div>
</div>

<div class="flex flex-row flex-wrap justify-between py-2 md:flex-nowrap">
  <div class="flex flex-col card basis-full md:basis-1/2">
    <div class="card-title">
      <h1><i class="bi bi-calculator"></i> Euler Gruppe</h1>
    </div>

    <div class="flex flex-col justify-between flex-grow card-content">
      <p class="flex-grow">
        Das EulerProjekt ist stark mathezentriert. In dieser Gruppe werden
        mathematische Probleme mit Code gelöst.
      </p>

      <a href="/info/euler/projektgruppe/" class="mx-auto mt-2 btn btn-primary w-fit">
        <i class="mr-2 bi bi-arrow-left-square"></i> Gehe zur Euler Gruppe
      </a>
    </div>
  </div>

  <div class="flex flex-col card basis-full md:basis-1/2">
    <div class="card-title">
      <h1><i class="bi bi-journal-code"></i> Dōjō</h1>
    </div>

    <div class="flex flex-col justify-between flex-grow card-content">
      <p class="flex-grow">
        Das Dōjō, bei dem der Schwerpunkt beim Coden liegt. Der Begriff ist
        aber weit zu verstehen. Wenn Du mehr darüber wissen willst, klick am
        besten auf Überblick.
      </p>

      <a href="/info/kyo-info/introduction/" class="mx-auto mt-2 btn btn-primary w-fit">
        Gehe zum Dōjō <i class="ml-2 bi bi-arrow-right-square"></i>
      </a>
    </div>
  </div>
</div>
