<% // helper element for ensuring to toggled is included by tailwind %>
<div class="tw-toggled"></div>

<figure class="tw-highlight"></figure>

<!-- Syntax tokens -->
<div
    class="tw-my-4 tw-m-2 tw-float-left tw-float-right tw-float-center hljs tw--ml-[15rem] hljs-number hljs-built_in hljs-builtin-name hljs-literal hljs-type hljs-params hljs-meta hljs-link hljs-selector-tag hljs-title hljs-section hljs-keyword tw-gutter hljs-string hljs-symbol hljs-bullet hljs-addition hljs-strong hljs-emphasis hljs-variable hljs-attribute hljs-template-variable hljs-tag hljs-name hljs-selector-id hljs-selector-class hljs-regexp hljs-deletion hljs-comment hljs-quote"
>
    <td class="code"></td>
</div>
