<% // helper element for ensuring to toggled is included by tailwind %>
<div class="toggled"></div>

<figure class="highlight"></figure>

<!-- Syntax tokens -->
<div
    class="my-4 hljs hljs-number hljs-built_in hljs-builtin-name hljs-literal hljs-type hljs-params hljs-meta hljs-link hljs-selector-tag hljs-title hljs-section hljs-keyword gutter hljs-string hljs-symbol hljs-bullet hljs-addition hljs-strong hljs-emphasis hljs-variable hljs-attribute hljs-template-variable hljs-tag hljs-name hljs-selector-id hljs-selector-class hljs-regexp hljs-deletion hljs-comment hljs-quote"
>
    <td class="code"></td>
</div>
