<% // helper element for ensuring to toggled is included by tailwind %>
<div class="toggled"></div>

<figure class="highlight"></figure>

<!-- Syntax tokens -->
<div
class="tw-my-4  tw-m-2 tw-float-left tw-float-right tw-float-center tw-hljs tw--ml-[15rem] tw-hljs-number tw-hljs-built_in tw-hljs-builtin-name tw-hljs-literal tw-hljs-type tw-hljs-params tw-hljs-meta tw-hljs-link tw-hljs-selector-tag tw-hljs-title tw-hljs-section tw-hljs-keyword tw-gutter tw-hljs-string tw-hljs-symbol tw-hljs-bullet tw-hljs-addition tw-hljs-strong tw-hljs-emphasis tw-hljs-variable tw-hljs-attribute tw-hljs-template-variable tw-hljs-tag tw-hljs-name tw-hljs-selector-id tw-hljs-selector-class tw-hljs-regexp tw-hljs-deletion tw-hljs-comment tw-hljs-quote"
>
    <td class="code"></td>
</div>
