---
import Base from "./Base.astro";
---

<Base
  title={Astro.props?.frontmatter?.title || Astro.props?.title}
  showToc={false}
  description={Astro.props?.description ||
  Astro.props?.frontmatter?.description}
  next={Astro.props?.frontmatter?.next}
>
  <div class="flex-grow lg:max-w-80">
    <slot />
  </div>
</Base>
